/*To use images from unsplash

Open the image on Unsplash and Expand it.
Then Copy the ID after '?photo=' tag.

The paste it in this code
<img src="https://source.unsplash.com/pFqrYbhIAXs">
The alphanumeric characters represent the ID */

/*Images used:
- http://i.imgur.com/qK42fUu.jpg
- https://images.unsplash.com/photo-1435771112039-1e5b2bcad966?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450
- https://images.unsplash.com/photo-1442406964439-e46ab8eff7c4?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450
- https://images.unsplash.com/photo-1439524970634-649c37a69e5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1450&h=825&fit=crop&s=bfda9916c885869b43b70738693428d9
- https://images.unsplash.com/photo-1444090542259-0af8fa96557e?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450
- https://images.unsplash.com/photo-1434543177303-ef2cc7707e0d?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450
- https://images.unsplash.com/photo-1436262513933-a0b06755c784?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450
- https://images.unsplash.com/photo-1439396087961-98bc12c21176?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450
- https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450*/
/*
colors:
dark:  #2c3e50
Light gray:  #ecf0f1*/
body {
  padding-top: 70px;
}
.jumbotron {
  color: #2c3e50;
  background: #ecf0f1;
}
.navbar-inverse {
  background: #2c3e50;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}
/*Using Google chrome developer tools is very important
to check if our styles are being applied or not*/
.navbar-inverse .navbar-brand {
  color: white;
}
