.example.e1
  .button-group
    .text home
    .icon.zmdi.zmdi-home
    
.example.e2
  .button-group
    .text account
    .icon.zmdi.zmdi-account
    
.example.e3
  .button-group
    .text woah this is crazy
    .icon.zmdi.zmdi-alert-triangle